/.idea/
/Exercise_0/Skeleton/img.jpg
/Exercise_0/Skeleton/small.jpg
/Exercies_1/.idea/
/Exercies_1/Skeleton/A.png
/Exercies_1/Skeleton/B.png
/Exercies_1/Skeleton/C.png
/Exercies_1/Skeleton/corners.png
/Exercies_1/Skeleton/dIdx.png
/Exercies_1/Skeleton/dIdy.png
/Exercies_1/Skeleton/edges.png
/Exercies_1/Skeleton/response.png
/Panorama Stitching/src/__pycache__/
/Panorama Stitching/src/.idea/
/Edge & Corner Detection/.idea/
/Optical Flow/.idea/
